/* SHARED */

h1 {
    font-size: 100px !important;
    font-weight: 500 !important;
}

h2 {
    font-size: 48px !important;
}

.title-1 {
    margin-bottom: 50px;
}

.section {
    padding: 50px 150px;
}

.mb-25 { 
    margin-bottom: 25px;
}

/* NAVBAR */

.nav-padding {
    padding: 20px 150px !important;
}

.nav-display {
    display: flex !important;
    justify-content: space-between;
}

.nav-right {
    justify-content: end;
    font-size: 20px;
}

.nav-icon {
    font-size: 50px;
}

.header-icon {
    font-size: 75px;
    margin-bottom: 25px;
}

/* HEADER */

.header-img {
    width: 100vw;
    height: 75vh;
    background-image: linear-gradient(to bottom, rgba(17, 22, 48, 0.52), rgba(117, 19, 93, 0.73)), url("../img/skyline.jpg");
}

.header-text-box {
    padding: 50px 50px;
    background-color: rgba(255, 255, 255, 0.178);
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.header-text-box p {
    font-size: 50px !important;
}

.header-text-box button {
    font-size: 35px !important;
}

/* PAGE HEADER */
.standard-header {
    width: 100vw;
    height: 60vh;
    background-image: linear-gradient(to bottom, rgba(17, 22, 48, 0.52), rgba(117, 19, 93, 0.73)), url("../img/trading-header.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/*  SERVICES  */

.services-container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%; 
    gap: 50px;
}

/* DATA */

#data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.hidden {
    display: none;
}

.editable-data {
    text-align: center;
}

.hover-edit {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    color: #fff;
    position: relative;
    bottom: 0;
    left: 0;
}

.editable-data:hover .hover-edit {
    display:flex;
}